#header {
    color: darkslategrey;
}
body {
    background-color: rgb(241, 240, 236);
    font-family: Arial, Helvetica, sans-serif;
}
li {
    float: left;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.link-nav {
    display: inline-block;
    padding: 8px;
}
.container {
    width: 100%
}
.inner-container {
    padding-left: 75px;
    padding-top: 40px;
}
.col-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 0 0;
}
.col-item, .col-item:visited {
    background: #f0f4f5;
    border: 1px solid #f0f4f5;

    box-shadow: 4px 10px 0 0 #d8dde0;
    color: rgb(94, 94, 94);
    cursor: pointer;
    margin: 0 20px 20px 0;
    padding: 25px;
    text-decoration: none;
    transition: .1s ease all;
    width: calc(400px - 20px);
}
.col-item a:hover {
    background: #4bcce6;
    border: 1px solid  #4bcce6;
}
